<!-- Footer -->
<span>
    <style>
        /* Buttons */
        .btn{
           cursor: pointer;
        }
        .btn:hover {
            opacity: 0.6;
        }
        .btn-list .btn{
           text-align: center;
           text-decoration: none;
           border-radius: 50%;
        }
    </style>
  <div style="height:40px;"></div>
            
     <div class="navbar-bottom">
      <h2 class="text-center"style="font-family:caveat">
         "The stories we love best live in us forever"
      </h2>
     <div class="btn-list text-center">
        <a style="background:#007bb5;color:white;"
           class="btn btn-social-icon btn-linkedin" 
           href="http://www.linkedin.com/in/saher-wasim--the-coder/">              
           <span class="fa fa-linkedin"></span>   
        </a>
        <a style="background:black;color:white;" 
           class="btn btn-social-icon btn-github" 
           href="http://www.github.com/swasim">
           <span class="fa fa-github"></span>
        </a>
        <a style="background:white;color:black;"
           class="btn btn-social-icon btn-angellist" 
           href="http://angel.co/saher-wasim ">
           <span class="fa fa-angellist">
        </a>
        <a style="background: #dd4b39;color:white;"
           class="btn btn-btn-social-icon btn-google"
           href="#">
           <span class="fa fa-google">
        </a>
        <p style="font-size:.3em">© SW 2017</p>
     </div>  
   
</span>