<!-- Footer -->
<span>
    <style>
        footer{
          display: block;    
          text-align: center;
          
          padding: 15px;
          background: rgba(255, 255, 255,.8);
          box-shadow: 0px 4px #ccc;
          color: #333;
          border-radius: 4px;
        }
        
        footer p{
          margin-bottom: 0px;
        }
    </style>
  <div style="height:40px;"></div>
            <div style= "text-align: center; position: relative; margin-right: 40px;">
         
                    <span>
                        <div class="page_component-content">
                            <ul class="page_social-media-buttons" style = "list-style-type: none; display: -webkit-inline-box;">
                                <li class="page_social-media-button">
                                    <div class="col fb-counter">
                                        <a href="http://www.linkedin.com/in/saher-wasim--the-coder/ "><img src="/images/buttons/button2.png" class="btn social"><i class="fa fa-linkedin-square"></i></a>
                                    </div>
                                </li>
                               
                                <li class="page_social-media-button" style="display: inline;">
                                    <div class="col gplus-counter">
                                        <div class="gplus-counter-inner" id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 32px; height: 20px;">
                                            <iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1502950037960" name="I0_1502950037960" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;annotation=bubble&amp;origin=http%3A%2F%2Fsite-1208686-5338-5318.strikingly.com&amp;url=http%3A%2F%2Fsite-1208686-5338-5318.strikingly.com%2F&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.xyfLtCfYQko.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCN8IbA2lXrot0tD_H0ED1vfPUN8Bg#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1502950037960&amp;parent=http%3A%2F%2Fsite-1208686-5338-5318.strikingly.com&amp;pfname=&amp;rpctoken=41388509" data-gapiattached="true" title="G+"></iframe>
                                        </div>
                                    </div>
                                </li>
                                <!-- react-empty: 361 --><!-- react-empty: 362 -->
                            </ul>
                        </div>
                    </span>
                </div>
    <footer style ="background-color: lightgray;">
    	<div class="s-footer-text">
    		<div class="s-component s-text">
    			<div class="s-component-content s-font-body">
    
    				<p>© SW 2017</p>
    			</div>
    		</div>
    	</div>
    </footer>
</span>