<span>
<link rel = "stylesheet" type="text/css" href="/stylesheets/style.css">    
    <nav class="topbar">    
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/myworld">My World</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/myprojects">Projects</a></li>
            <li><a href="/myblog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul> <!-- navbar-nav -->
    </nav>
</span>

