<span>
    <style>
        .navbutton {
            -webkit-transition: 0.3s background;
            -moz-transition: 0.3s background;
            transition: 0.3s background;
        }
        .navbutton:active { 
            background: black;
        }
    </style>
    
    <header id=headerTop>
        
        <nav class="nav navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
             <div class="navbar-header">
                   <button type="button"
                           class="navbar-toggle" 
                           data-toggle="collapse"
                           data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>            
                </button>
                  <a class="navbar-brand" href="/" class="navbutton">Saher Wasim</a>
             </div>
             <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav navbar-right" id="navul">
                     <li class="navbutton"><a href="/">Home</a></li>
                     <li class="navbutton"><a href="/introduction" id="intro">About Me</a></li>         
                     <li class="navbutton"><a href="/myprojects">Projects</a></li>     
                     <li class="navbutton"><a href="/resume">Resume</a></li>
                     <li class="navbutton"><a href="/contact">Contact Me</a></li>
                  </ul>
             </div>                      
        </div>
        </nav>
        
    </header>
    <script>
        // Add active class to the current button (highlight it)
        var header = document.getElementById("navul");
        var btns = header.getElementsByClassName("navbutton");
        for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
          });
        }
    </script>
   
</span>


