<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport" name="viewport">


<title>Portfolio</title>

<!-----   Favicon   ----->

<link rel="apple-touch-icon" sizes="57x57" href="images/sw_logo/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/sw_logo/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/sw_logo/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/sw_logo/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/sw_logo/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/sw_logo/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/sw_logo/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/sw_logo/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/sw_logo/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="images/sw_logo/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/sw_logo/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/sw_logo/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/sw_logo/favicon-16x16.png">
<link rel="manifest" href="images/sw_logo/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/sw_logo/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link href="https://fonts.googleapis.com/css?family=Caveat|Concert+One" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<!--highlight scripting -->

<!-- style.css file link-->

<meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Caveat|Concert+One" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>
       Saher's Homepage
   </title>
      

  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" >
<link rel = "stylesheet" type="text/css" href= "/stylesheets/hp.css">
 
<script>
var uHost = location.hostname;
var uPath = location.pathname;
var uHref = location.href;
var errEle = document.getElementById('error-div');
var loading = document.getElementById('loading');
var qStr = uHref.split('?x=')[1];

	if(qStr == 'sm') {
		if(uPath.split('/').length > 2){
			location.assign('https://' + 'saherwasim.com' + '/' + uPath.split("/")[2].toLowerCase());
		} else {
			errEle.style.opacity = '1';
			loading.style.opacity = '0';
		}
	} else {
		location.assign(uHref.toLowerCase());
	}
</script>




