<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Portfolio</title>

<!--highlight scripting -->

<!-- style.css file link-->
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel = "stylesheet" type="text/css" href= "/stylesheets/homePageStyle.css">
<link rel = "stylesheet" type="text/css" href= "/stylesheets/style.css">

<!--
<!-- Bootstrap core CSS 
<link href="stylesheets/css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here 
<link href="stylesheets/css/slidefolio.css" rel="stylesheet">-->

