

<ul>

    <li><a href="/">Home</a></li>
    <li><a href= "/myworld">My World</a></li>
    <li><a href= "/thisisme">Introduction</a></li>
    <li><a href= "/resume">Resume</a></li>
    <li><a href= "/myprojects">Projects</a></li>
    <li><a href= "/contact">Contact</a></li>
</ul> <!-- navbar-nav -->

