<span>
<style>
.page_section.page_rows_section .page_repeatable.page_layout-mediaRight {
                position: relative;
                margin-bottom: 0;
                padding-bottom: 0;
                margin-left: 25px;
                border-left: 2px dotted #998d71
            }
</style>


<span>
    <div id = page_content class = "page_content">
        <div class="container">
            
        
        <div id="educationHeader">
            <div class ="educationTitle" style="width: 918px;">
                <div style = "margin-top: 30px; position: relative;">
                    <h2 style ="font-size: 25px; text-transform: uppercase; font-weight: bold; font-family: lato,sans-serif;">
                        <p>Education</p>
                    </h2>
                </div>
            </div>    
        </div>        
            
            <div style="margin:0 -45px;">
	           <table>
		       <tbody>
		           
		           <!--FIRST EDUCATION ROW-->
			       <tr>
			           <td style="width:100.026223692949%; padding:0 115px;">
                            <h3 style="font-size:20px;">
                                <p>University of California, Davis</p>
                            </h3>
                            
                            <div style="text-align:left;">
                                <div style="height: 2px; overflow: hidden;"></div> 
                                <div>
                                    <div>
                                        <h6>
                                            <p>2011-2015</p>
                                        </h6>
                                    </div>
                                </div>
                                
                                <div>
                                    <div>
                                        <h6>
                                            <p>B.A. Psychology (Pre-Med)</p>
                                        </h6>
                                    </div>
                                </div>
                                <div style="height: 0px; overflow: hidden;"></div>
                            </div>
                        </td>
                        
                        <!-- IMAGE OF HEADER-->
                        
    			        <td style="width:40.236173935775%; padding:0 -45px; text-align: -webkit-right;">
    			            <div style="height: 2em; overflow: hidden;"></div>
                            <div>
                                <img alt="" title="" class="crop-default lazyloaded" data-description="" width="280" height="142" src="/images/UCDavis_Logo.jpg">
                            </div>
                            <div style="height: 45px; overflow: hidden;"></div>
                        </td>
                        
                        <!--END OF IMAGE OF HEADER-->
    			        
    			        
    			        <td style="width:13.418880272432%; padding:0 45px;"></td>
			        </tr>
			    <!--END OF FIRST EDUCATION ROW-->
			    
			    <!--SECOND EDUCATION ROW-->
			        <tr>
    				    <td style="padding-top: 0px; width: 100.026223692949%; padding-bottom: 0px; padding-left: 115px; padding-right: 0px;">
                            <h3 style="font-size:20px;">
                                <p>University of New England, Biddeford</p>
                            </h3>
                            
                            <div style="text-align:left;">
                                <div style="height: 2px; overflow: hidden;"></div> 
                                <div>
                                    <div>
                                        <h6>
                                            <p>2016-2017</p>
                                        </h6>
                                    </div>
                                </div>
                                
                                <div>
                                    <div>
                                        <h6>
                                            <p>Post Baccalaureate</p>
                                        </h6>
                                    </div>
                                </div>
                                <div style="height: 0px; overflow: hidden;"></div>
                            </div>
                        </td>
                        
                        <!-- IMAGE OF HEADER-->
                        
    			        <td style="width:40.236173935775%; padding:0 -45px; text-align: inherit;;">
    			            <div style="height: 2em; overflow: hidden;"></div>
                            <div>
                                <img alt="" title="" class="crop-default lazyloaded" data-description="" width="220" height="142" src="/images/UNE_Logo.png">
                            </div>
                            <div style="height: 45px; overflow: hidden;"></div>
                        </td>
                        <!--END OF IMAGE OF HEADER-->
                        
                        
    			        <td style="width:13.418880272432%; padding:0 45px;"></td>
			        </tr>
			    <!--SECOND EDUCATION ROW-->
			    
		
		        </tbody>
	            </table>
            </div>
            
            
            
        </div>
    </div>
</span>    