<!DOCTYPE html>
<html>
    <head>
        <title>
            Saher's Homepage
        </title>
        
        <%- include ./partials/head %>
        
    </head>
    
    
    <body>
        
     <h1> Message Sent!</h1>
     
     <p>Thank you for taking a moment to contact me <%= data.name %>!</p>
     <p>Your message has been received!</p>
     <p>I will reply to you as soon as possible at <%= data.email %></p>
     
     
     
        
<%- include partials/scripts %>         
    </body>
</html>    