<!--<body>
       <h1>Contact Me</h1>
      <form action="/contact" method="post" enctype="multipart/form-data">
       
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your full name"  />
            <br />
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email address"  />
            <br />
            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="Enter a short description about yourself"></textarea>
            <br />
            <input type="submit" value="Send Message" />
       
      </form>-->
<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include ./partials/head %>

</head>
      
      
      
      
      
      
<body>
<style>
      * {
      	margin:0;
      	padding:0;
      	box-sizing:border-box;
      	-webkit-box-sizing:border-box;
      	-moz-box-sizing:border-box;
      	-webkit-font-smoothing:antialiased;
      	-moz-font-smoothing:antialiased;
      	-o-font-smoothing:antialiased;
      	font-smoothing:antialiased;
      	text-rendering:optimizeLegibility;
      }
      body {
      	font:400 12px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif;
      	color:#444;
      	background:#FFF;
      	background-image:linear-gradient(left , #761542 0%, #991D57 52%, #761542 100%);
      	background-image:-moz-linear-gradient(left , #761542 0%, #991D57 52%, #761542 100%);
      	background-image: -webkit-linear-gradient(left , rgb(236, 111, 169) 0%, #8dd6d9 52%, #b0f7ff 100%);
      }
      
      #contactform input[type="text"],
      #contactform input[type="email"],
      #contactform textarea,
      #contactform button[type="submit"] {
      	font:400 12px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      #contactform {
      	text-shadow:0 1px 0 #FFF;
      	border-radius:4px;
      	-webkit-border-radius:4px;
      	-moz-border-radius:4px;
      	background:#F9F9F9;
      	padding:25px;
      	max-width:500px;
      	width:95%;
      	margin:0 auto;
      	position:relative;
      }
      #contactform header {
      	color:#991D57;
      	display:block;
      	text-align:center;
      	font-size:28px;
      }
      
      #contact-form label span {
      	cursor:pointer;
      	color:#991D57;
      	display:block;
      	margin:5px 0;
      	font-weight:900;
      }
      #contactform input[type="text"],
      #contactform input[type="email"],
      #contactform textarea {
      	width:100%;
      	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
      	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
      	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
      	border:1px solid #CCC;
      	background:#FFF;
      	margin:0px 0 5px;
      	padding:10px;
      	border-radius:5px;
      }
      #contactform input[type="text"]:hover,
      #contactform input[type="email"]:hover,
      #contactform textarea:hover {
      	-webkit-transition:border-color 0.3s ease-in-out;
      	-moz-transition:border-color 0.3s ease-in-out;
      	transition:border-color 0.3s ease-in-out;
      	border:1px solid #AAA;
      }
      #contactform textarea {
      	height:100px;
      	max-width:100%;
      }
      #contactform button[type="submit"] {
      	cursor:pointer;
      	width:100%;
      	border:none;
      	background:#991D57;
      	background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
      	background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
      	background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
      	color:#FFF;
      	margin:30px 0 5px;
      	padding:10px;
      	border-radius:5px;
      }
      #contactform button[type="submit"]:hover {
      	background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
      	background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
      	background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
      	-webkit-transition:background 0.3s ease-in-out;
      	-moz-transition:background 0.3s ease-in-out;
      	transition:background-color 0.3s ease-in-out;
      }
      #contactform button[type="submit"]:active {
      	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
      }
      #contactform input:focus,
      #contactform textarea:focus {
      	outline:0;
      	border:1px solid #999;
      }
      ::-webkit-input-placeholder {
          color:#888;
      }
      :-moz-placeholder {
          color:#888;
      }
      ::-moz-placeholder {
          color:#888;
      }
      :-ms-input-placeholder {
          color:#888;
      }

</style>





	<br class="wrapper">
		<br id="main" style="padding:50px 0 0 0;">
		
		<!-- Form -->
		<form id="contactform" action="/contact" method="post">
		   <header>Lets get in touch!</header>
		   
			<br>
				<label>
					<span>Name: (required)</span>
					<input placeholder="Please enter your name" name ="name" type="text" tabindex="1" required autofocus>
				</label>
			</br>
			<br>
				<label>
					<span>Email: (required)</span>
					<input placeholder="Please enter your email address" name = "email" type="email" tabindex="2" required>
				</label>
			</br>
			<br>
				<label>
					<span>Message: (required)</span>
					<textarea placeholder="Include all the details you can" name = "message"tabindex="5" required></textarea>
				</label>
			</br>
			<br>
				<button name="submit" type="submit" id="contactsubmit">Send Email</button>
			</br>
		</form>
		<!-- /Form -->
		
		</br>
	</br>
	
	<script>
	   (function() {

      	// Create input element for testing
      	var inputs = document.createElement('input');
      	
      	// Create the supports object
      	var supports = {};
      	
      	supports.autofocus   = 'autofocus' in inputs;
      	supports.required    = 'required' in inputs;
      	supports.placeholder = 'placeholder' in inputs;
      
      	// Fallback for autofocus attribute
      	if(!supports.autofocus) {
      		
      	}
      	
      	// Fallback for required attribute
      	if(!supports.required) {
      		
      	}
      
      	// Fallback for placeholder attribute
      	if(!supports.placeholder) {
      		
      	}
      	
      	// Change text inside send button on submit
      	var send = document.getElementById('contactsubmit');
      	if(send) {
      		send.onclick = function () {
      			this.innerHTML = '...Sending';
      		}
      	}
      
      })();
	   
	</script>
</body>
</html>