<!DOCTYPE html>
<html>
    <head>
        <title>
            Saher's Homepage
        </title>
        
        <%- include partials/head %>
        <link rel = "stylesheet" type="text/css" href= "/stylesheets/pageStyles.css">
    </head>
    
    
    <body>
        
     <h1> Message Sent!</h1>
     
     <p>Thank you for taking a moment to contact me!</p>
     <p>Your message has been received!</p>
     <p>I will reply to you as soon as possible!</p>
     
     
     
        
<%- include partials/scripts %>         
    </body>
</html>    