<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Concert+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel = "stylesheet" type="text/css" href= "/stylesheets/hp.css">
    <title>Saher Wasim | Portfolio </title>
    <style>
        body{
           background: url(https://res.cloudinary.com/dlfsi4ilj/image/upload/v1514526948/sw_tu0get.jpg) no-repeat center center fixed;
           -webkit-background-size: cover;
           -moz-background-size: cover;
           -o-background-size: cover;
           font-family: 'Concert One', cursive;
        }

    </style> 
</head>

<body>
<%- include partials/header %>

<!----------------- Page One----------------->
    <article id="pageOne">
        <div class="container-fluid wrapper center">
            <section>
                <div class='home'>
                    <h1 class="text-center" style="font-size:3.0em;">Saher Wasim</h1>
                    <h2 class="text-center">Frontend Developer</h2>
                </div>
            </section>
        </div>
    </article>

<!--------------- Page Two (Intro)------------>
<article id="pageTwo">
    <div class="container-fluid wrapper center">
         <section>
            <h2>Get to Node me!</h2>
            <p style="font-size:18px">Web development, poetry, dogs, art, coffee, paint, the list goes one</p>
            <a class="btn" href"#">Get the full scoop</a>
        </section>
    </div>
</article>
   
<!-- Page Three LATEST WORK -->
<article id="pageThree">
    <div class="container-fluid wrapper">
   
        <div id="leftApp" class="center clearfix">
            <section>
            <h2>Geo Tweet App</h2> 
            <span>
                <a href="https://geo-tweet.herokuapp.com/">
                    <img height='228' 
                     title='GeoTweet App' 
                     frameborder='no'
                     src='https://res.cloudinary.com/dlfsi4ilj/image/upload/v1515067120/geotweet_ta08yd.jpg'
                     allowtransparency='true' 
                     allowfullscreen='true'
                     style='position: relative; width: 100%;'
                     class="container-fluid"/>
                </a>
            </span>
            </section>
        </div>
 

        <div id="rightApp" class=" center clearfix">
            <section>
            <h2>To-Do App</h2>
            <span>
                <iframe height='228' 
                        title='ToDo App' 
                        src='//codepen.io/saherw22/embed/NXjRWg/?height=428&theme-id=dark&default-tab=js,result&embed-version=2' 
                        frameborder='no' 
                        allowtransparency='true' 
                        style='position: relative; width: 100%;'
                        class="container-fluid">
                    <a href='https://codepen.io/saherw22/pen/NXjRWg/'>ToDo APP</a> by Saher (<a href='https://codepen.io/saherw22'>@saherw22</a>)</a>.
                </iframe>
            </span>
            </section>
        </div>
   
    </div>
</article>
     
<!--END LATEST WORK END -->     
    



    
<!------------ Footer ----------->
<div>
    <%- include partials/footer %>
</div>
<!---------- END FOOTER --------->  
     
     
     
     
     
     
<!-- SCRIPTS -->  
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<%- include partials/scripts %>

</body>        
	  