<!DOCTYPE html>
<html>
    <head>
        <title>
            Saher's Homepage
        </title>
        
        <%- include ./partials/head %>
        
    </head>
    
    
<body class="show locale-en" id="user_sites" ontouchstart="" screen_capture_injected="true"> 
    <div class="s-bg-image s-bg-light-text s-bg-overlay navigator s-navbar-section s-section backroundimg">
        <div class="container">
            <div class="columns sixteen">
                <div class="impression">
    
                    <div class="left">
                        <div class="s-onyxnew-logo">
                            <div class="s-component s-image">
                                <span>
                                    <div class="s-component-content">
                                        <div>
                                           <img src="/images/professionalPic.jpg" alt="" title="" class="crop-default" data-description="">
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
        <div style="text-align:center; margin-top: -17%;">
        
        
                <div class="header-title">
                    <div>
                        <h1>
                            <p>Saher Wasim</p>
                        </h1>
                    </div>
                </div>
                <div class="header-subtitle">
                    <div class="s-component s-text">
                        <h3 class="s-component-content s-font-heading">
                            <p>Frontend Engineer</p>
                        </h3>
                    </div>
                </div>
            
            <a class="learnbtn" href="/thisisme">
                <span>Welcome To My Universe</span>
            </a>
        </div>
            
    </div>
  </div>
  </div>
  </div>


    <div class="navbarcontainer">
         <%- include partials/header %>
    </div>



<!-- Next Page Preview -->

    <div>
		<div class="container">
			<div>
				<div style="height:50px;"></div>

            <div>
                <div>
                    <div style="margin:0 -45px;">
	                <table>
		                <tbody>
			                <tr>
				<td style="width:13.318722098844%; padding:0 45px;">
					
						

<div class="wsite-spacer" style="height:50px;"></div>
</td>
				<td class="wsite-multicol-col" style="width:33.026223692949%; padding:0 45px;">
					
						

    <div>
        <div style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
            <a>
                <img src="/images/professionalPic.jpg" alt="Picture" style="width:auto;max-width:100%">
            </a>
        <div style="display:block;font-size:90%">
        
    </div>
</div>
</div>
    
    </td>				
				<td class="wsite-multicol-col" style="width:40.236173935775%; padding:0 45px;">
					
						

<div class="wsite-spacer" style="height:50px;"></div>

<h2 class="wsite-content-title">I'm Saher Wasim</h2>

<div class="wsite-spacer" style="height:10px;"></div>

<div class="paragraph">&#8203;Integer vel sapien id nisi gravida sodales. Aliquam convallis lorem sapien, sit amet vehicula dui volutpat id. Suspendisse at nisi nec neque dignissim iaculis ut id quam. Suspendisse et vehicula urna, congue tempor tellus. Fusce fringilla scelerisque egestas. Suspendisse potenti.&nbsp;<br>
<br>&#8203;Donec maximus felis sed purus semper iaculis. Donec vitae eleifend sapien. Phasellus augue id varius volutpat.&nbsp;</div>

<div style="text-align:left;"><div style="height: 30px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-large wsite-button-highlight" href="/thisisme">
<span class="wsite-button-inner">More About Me</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div>


					
				</td>				
				<td class="wsite-multicol-col" style="width:13.418880272432%; padding:0 45px;">
					
						

<div class="wsite-spacer" style="height:50px;">
    
</div>


					
				</td>			
				</tr>
		</tbody>
	</table>
</div></div></div>

<div class="wsite-spacer" style="height:50px;"></div>
			</div>
		</div>
		</div>



		
<%- include partials/scripts %>         
    </body>
</html>    