<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Caveat|Concert+One" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /*Page tags*/
        body{
           background: url(https://res.cloudinary.com/dlfsi4ilj/image/upload/v1514526948/sw_tu0get.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
           height:800px;
           font-family: 'Concert One', cursive;
           color:white;
           line-height: 1;
           font-size: calc(3.4vw + 3vh);   
        }
    </style>
</head>

<body>
<%- include partials/header %>
 

<!-- Page One-->
<section id="pageOne">
    <div class="container-fluid wrapper">
       <article>
            <div class="home">
                <h1>Saher Wasim</h1>
                <h2 class="text-center">Frontend Developer</h2>
            </div>
       <article>
    </div>
</section>

<!-- Page Two (Intro)-->
<section id="pageTwo">
    <div class="container-fluid wrapper">
        <article>
            <div class="introContent">
        	<h2>Get to Node me!</h2>
                <p style="font-size:18px">Web development, poetry, dogs, art, coffee, paint, the list goes one</p>
                <a class="btn" href"#">Get the full scoop</a>
            </div>
        <article>
    </div>
</section>
   
   <!-- Page Three (Projects)-->
<section id="pageThree">
<div class="container-fluid wrapper">
   <article>
   <div class="introContent">
	  <h2>Projects</h2>
     <p style="font-size:18px">Check out what I've built</p>
         <div>
            <h3>Geotweets</h3>
            <a class="btn" href"#">View</a>
         </div>
      
      
         <div>
            <h3>Pinpoint
            <span>Easy and cool place to drop the pin</span></h3>
               <hr class="h3-spacer">
                   <p> Drop the pin and see where it will take you!</p>
                   <a class="btn" href"#">View</a>
         </div>
      
           
         <div>
            <a class="btn" href"https://codepen.io/saherw22/pen/NXjRWg">
               <h3>Todo App</h3>
               <h3>View</h3>           
          
                        <a href="" data-imagelightbox="b">
                            <div class="img-over" style="opacity: 0;"><div class="project-desc"><h5>Pinpoint</h5></div></div>
                            <img class="center-block img-project img-responsive" src="./images/portfolio/project2.jpg" alt="">
                        </a>
                    </div>
      
            
   </div>
   <article>
</div>
</section>
     
     
     
    
     <!-- Footer -->
   <div class="navbar-fixed-bottom">
      <h2 class="text-center"style="font-family:caveat">
         "The stories we love best live in us forever"
      </h2>
     <div class="btn-list text-center">
        <a style="background:#007bb5;color:white;"
           class="btn btn-social-icon btn-linkedin" 
           href="http://www.linkedin.com/in/saher-wasim--the-coder/">              
           <span class="fa fa-linkedin"></span>   
        </a>
        <a style="background:black;color:white;" 
           class="btn btn-social-icon btn-github" 
           href="http://www.github.com/swasim">
           <span class="fa fa-github"></span>
        </a>
        <a style="background:white;color:black;"
           class="btn btn-social-icon btn-angellist" 
           href="http://angel.co/saher-wasim ">
           <span class="fa fa-angellist">
        </a>
        <a style="background: #dd4b39;color:white;"
           class="btn btn-btn-social-icon btn-google"
           href="#">
           <span class="fa fa-google">
        </a>
        <p style="font-size:.3em">© SW 2017</p>
     </div>   
</div>
</body>        
	  