<head>
    <meta name="Saher Wasim | Portfolio "
          content="This the homepage of Saher's portfolio.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Concert+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel = "stylesheet" type="text/css" href= "/stylesheets/hp.css">
    <link href="http://www.saherwasim.com" rel="canonical">
    <title>Saher Wasim</title>
   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    
    <!-------HOMEPAGE BACKGROUND IMAGE------->
    <style rel="nofollow">
        body{
           background: url(https://res.cloudinary.com/dlfsi4ilj/image/upload/v1514526948/sw_tu0get.jpg) no-repeat center center fixed;
           -webkit-background-size: cover;
           -moz-background-size: cover;
           -o-background-size: cover;
           font-family: 'Concert One', cursive;
        }

    </style> 
</head>
<body>

<%- include partials/header %>

<!----------------- Page One----------------->
    <article id="pageOne">
        <div class="container-fluid wrapper center">
            <section>
                <div class='home'>
                    <h1 class="nameHeader" style="font-size:3.0em;">Saher Wasim</h1>
                    <hr>
                    <h2 class="text-center">Frontend Developer</h2>
                </div>
            </section>
        </div>
    </article>

<!--------------- Page Two (Intro)------------>
<article id="pageTwo" style="height:75%">
    <div class="container-fluid wrapper center">
         <section>
            <h1 class="headline" style="padding-bottom: .4em">Get to Node me!</h1>
            <p style="margin-top: 2%;font-size:.7em;">Web development, poetry, dogs, art, coffee, paint, the list goes one</p>
            <a class="btn" href"#">Get the full scoop</a>
        </section>
    </div>
</article>
   
<!-- Page Three LATEST WORK -->
<article id="pageThree">
    
    <div class="container-fluid wrapper" style="padding:10px">
        <h1 class="headline">Latest Projects</h1>

    <div id="#projectContainer" class="clearfix" style="padding: 20px;">
        
        <div id="leftApp">
            <section style="border: black solid 2px;">
            <a href="https://geo-tweet.herokuapp.com/"> 
                <h2 style="text-decoration:none;color:white;cursor:pointer;font-size:.8em; margin:10px">Geo Tweet App</h2>
                
                <span>
                    <img height='138' 
                     title='GeoTweet App' 
                     frameborder='no'
                     src='https://res.cloudinary.com/dlfsi4ilj/image/upload/v1515067120/geotweet_ta08yd.jpg'
                     allowtransparency='true' 
                     allowfullscreen='true'
                     style='position: relative; width: 100%; padding-bottom:10px'
                     class="container-fluid"
                     rel="nofollow"/>
                </span>
                
            </a>
            </section>
        </div>
        
        
        <div id="centerApp">
            <section style="border: black solid 2px;">
            <a href="https://github.com/swasim/pinpoint">
            <h2 style="text-decoration:none;color:white;cursor:pointer;font-size:.8em; margin:10px">PinPoint</h2>
                <span>
                    <img height='138' 
                     title='PinPoint App' 
                     frameborder='no'
                     src='http://res.cloudinary.com/dlfsi4ilj/image/upload/v1515406249/pinpoint_gaysa8.jpg'
                     allowtransparency='true' 
                     allowfullscreen='true'
                     style='position: relative; width: 100%; padding-bottom:10px'
                     class="container-fluid"/>
                </span>
            </a>
            </section>
        </div>
 

        <div id="rightApp">
            <section id="projectSection" style="border: black solid 2px">
            <a href="https://codepen.io/saherw22/full/NXjRWg">
            <h2 style="text-decoration:none;color:white;cursor:pointer;font-size:.8em; margin:10px">To-Do App</h2>
                <span>
                    <img height='138' 
                        title='Todo App' 
                        frameborder='no' 
                        src='http://res.cloudinary.com/dlfsi4ilj/image/upload/c_scale,w_1474/v1515407057/todo_bgodgj.jpg' 
                        allowtransparency='true' 
                        allowfullscreen='true'
                        style='position: relative; width: 100%; padding-bottom:10px'
                        class="container-fluid"
                        rel="nofollow"/>
                </span>
            </a>
            </section>
        </div>
    </div>
</article>
     
<!--END LATEST WORK END -->     
    



    
<!------------ Footer ----------->
<div>
    <%- include partials/footer %>
</div>
<!---------- END FOOTER --------->  
  
     
     
     
     
<!-- SCRIPTS -->  
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<%- include partials/scripts %>


</body>        
	  