<!DOCTYPE html>
<html>
<head>
    <%- include partials/head %>
    <link rel = "stylesheet" type="text/css" href= "/stylesheets/introduction.css">
    <style>
        #headerTop{
            background-color:#fff;
            color:#000;
        }
    </style>
</head>
    
<body>
   

   
    <!--PORTFOLIO SECTION-->
    <div class="center">
    <section>
        <div class="clearfix">
            <h2>PORTFOLIO</h2>
        </div>
                
       <div id="pageThree">
    
    <div class="container-fluid wrapper" style="padding:10px">
        <h2>Latest Projects</h2>
    <div id="#projectContainer" class="clearfix" style="padding: 20px;">
        
        <div id="leftApp">
            <section style="border: black solid 2px;">
            <a href="https://geo-tweet.herokuapp.com/"> 
                <h2 style="text-decoration:none;color:white;cursor:pointer;font-size:.8em; margin:10px">Geo Tweet App</h2>
                
                <span>
                    <img height='238' 
                     title='GeoTweet App' 
                     frameborder='no'
                     src='https://res.cloudinary.com/dlfsi4ilj/image/upload/v1515067120/geotweet_ta08yd.jpg'
                     allowtransparency='true' 
                     allowfullscreen='true'
                     style='position: relative; width: 100%; padding-bottom:10px'
                     class="container-fluid"
                     rel="nofollow"/>
                </span>
                
            </a>
            </section>
        </div>
        
        
        <div id="centerApp">
            <section style="border: black solid 2px;">
            <a href="https://github.com/swasim/pinpoint">
            <h2 style="text-decoration:none;color:white;cursor:pointer;font-size:.8em; margin:10px">PinPoint</h2>
                <span>
                    <img height='238' 
                     title='PinPoint App' 
                     frameborder='no'
                     src='http://res.cloudinary.com/dlfsi4ilj/image/upload/v1515406249/pinpoint_gaysa8.jpg'
                     allowtransparency='true' 
                     allowfullscreen='true'
                     style='position: relative; width: 100%; padding-bottom:10px'
                     class="container-fluid"/>
                </span>
            </a>
            </section>
        </div>
 

        <div id="rightApp">
            <section id="projectSection" style="border: black solid 2px">
            <a href="https://codepen.io/saherw22/full/NXjRWg">
            <h2 style="text-decoration:none;color:white;cursor:pointer;font-size:.8em; margin:10px">To-Do App</h2>
                <span>
                    <img height='238' 
                        title='Todo App' 
                        frameborder='no' 
                        src='http://res.cloudinary.com/dlfsi4ilj/image/upload/c_scale,w_1474/v1515407057/todo_bgodgj.jpg' 
                        allowtransparency='true' 
                        allowfullscreen='true'
                        style='position: relative; width: 100%; padding-bottom:10px'
                        class="container-fluid"
                        rel="nofollow"/>
                </span>
            </a>
            </section>
        </div>
    </div>
</div>
        
    
    <!--END PORTFOLIO SECTION-->
    </section>
    </div>


	</body>
         
            
        <!------------ Footer ----------->
           
        <div>
            <%- include partials/footer %>
        </div>

        <!---------- END FOOTER --------->
    
        
        
        
        <%- include partials/scripts %>   
    </body>
</html>    
                    						       