<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
        <link rel = "stylesheet" type="text/css" href= "/stylesheets/introduction.css">
    </head>
    
    <body>
        <div>
            <%- include partials/header %>
        </div>
        
        
        
        <div class="main-container">
    <div class="intro_main intro_wrapper clearfix">
      <!-- Header Start -->
      <div id="catchHeader">
	        <div style="height:50px;"></div>
	        <h1>A WHOLE PAGE ABOUT ME? WOW!</h1>
        </div>
        <header id="header">
            <div id="logo" style="display: none;">
                <h2>
                    Saher Wasim
                </h2>
                <h4>
                    Frontend Engineer
                </h4>
            </div>
        </header>
   
            <div id="intro_content">
              <!-- About Tab Data -->
                <div id="intro" class="active" style="display: block;">
                    <section class="clearfix">
                        <div class="intro_content">
                            <div class="secImage">
                                <img src="images/VeniceWall2.jpg" alt="Saher Wasim">
                            </div>
                            <div class="intro_content">
                                <h2>
                                    Saher Wasim
                                </h2>
                                <h4>
                                    Frontend Engineer
                                </h4>
                                <p>
                                   Get to NODE me!&nbsp;<br>
        						   &nbsp;<br>I am a Front-End Developer with 4 years of experience building scalable applications using Javascript and HTML5/CSS3.&nbsp;<br>
        						   I am an active proponent of Javascript ES6 version- I am thrilled by the power of efficient and effective responsiveness in building Javascript code to execute application operations.
        						   &nbsp;<br>&nbsp;<br>Sipping over some MOCHA and CHAI, I manage my own non-profit organization called Sahera.&nbsp;
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>  
              
            
      
        <div style="height:25px;"></div>
    
        
        
        
        <%- include partials/scripts %>   
    </body>
</html>    
                    						   