<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
        <link rel = "stylesheet" type="text/css" href= "/stylesheets/introduction.css">
        <link rel = "stylesheet" type="text/css" href= "/stylesheets/introStyle.css">
        
        
    </head>
    
    <body id="document" style="overflow: visible;">
    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;"></div>
    </div>

    
    <div id="preloader" style="display: none;">
        <div id="status" style="display: none;"></div>
    </div>
    <!--NAVIGATION-->
    <div id="navigation">
        <div id="navbar" class="affix">
            <!-- Navigation Inner -->
            <div class="nav-inner">
                <div class="">
                    <!-- Site Logo -->
                    <div class="site-logo">
                        <a href="/" id="logo" class="scrol affix-logo">
                            <!-- Your Logo -->
                            My World<span>.</span>
                        </a>
                    </div><!-- End Site Logo -->
                    <a class="mini-nav-button dark"><i class="fa fa-bars"></i></a>
                    <!-- Navigation Menu -->
                    <div class="nav-menu">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/introduction">Introduction</a></li>
                            <li><a href="/myworld">My World</a></li>
                            <li><a href="/resume">Resume</a></li>
                            <li><a href="/myprojects">Projects</a></li>
                            <li><a href="/myblog">Blog</a></li>
                            <li><a href="/contact">Contact</a></li>

                        </ul>
                    </div><!-- End Navigation Menu -->
                </div><!-- End Navigation Inner -->
            </div>
        </div>

    </div>
    <!-- END NAVIGATION -->
   
    <!--HOME SECTION-->
     <section>
        <div class="overlay">
            <div class="background" id="page_intro" style="
                    image-rendering: auto;
                    image-rendering: crisp-edges;
                    image-rendering: pixelated;
                    vertical-align: middle;
                    -webkit-font-smoothing: antialiased;
                    height: 459px;
                    max-width:100%;
                    background-image: url(/images/bk1.jpg);
                    background-repeat: no-repeat; 
                    background-size: cover;
                    background-position: 50% 30%;
                    background-overlay:0.3;">
                <div class="page_intro-wrap text-center  animated bounceIn" data-animated="bounceIn" style ="padding:0 -45px; float: center;">
                    <h1 style="font-size:35px; letter-spacing:2.5px; text-transform: uppercase; font-weight: bold; font-family: lato,sans-serif;">
                        Hi I'm Saher Wasim
                        <span>Frontend Engineer</span>
                    </h1>
                    <a href="/contact" class="btn btn-home  scroll "><span class="">Get To Know Me</span></a>
                    
                </div>

                <div id="about">
                </div>
            </div>
        </div>

    </section>
    <!--END HOME SECTION-->
    <!-- SECTION ABOUT ME -->
    <section id="about-me">
        <div class="section-wrap">
        <div class="content-section-a" style="background-color:#f8f8f8">
            <div class="container">
                <div class="row about">
                    <div class="col-xs-12 col-md-4  text-center animated bounceIn" data-animated="bounceIn">

                        <img src="./images/retro1.jpg" alt=" " class="center-blok img-circle img-thumbnail img-responsive" />
                        <div class="img-desc-about" style="margin-top: -30%;">
                            <h2 class="name">
                                Saher Wasim
                                <span>Frontend Engineer</span>
                            </h2>
                            <a href="#"><img src="/images/buttons/button1.png"class="btn social"><i class="fa fa-facebook"></i></a>
                            <a href="#"><img src="/images/buttons/button2.png" class="btn social"><i class="fa fa-linkedin-square"></i></a>
                            <a href="http://www.linkedin.com/in/saher-wasim--the-coder/ "><img src="/images/buttons/button3.png" class="btn social"><i class="fa fa-twitter"></i></a>
                            
                        </div>    
                        
                    </div>
                    

                    <div class="col-xs-12 col-md-8 intro-text  animated bounceIn" data-animated="bounceIn">

                        <hr class="h2-spacer">
                        <div class="clearfix"></div>
                        <h2>ABOUT ME</h2>
                       <p>
                           Get to NODE me!&nbsp;<br>
						   &nbsp;<br>I am a Front-End Developer with 4 years of experience building scalable applications using Javascript and HTML5/CSS3.&nbsp;<br>
						   I am an active proponent of Javascript ES6 version- I am thrilled by the power of efficient and effective responsiveness in building Javascript code to execute application operations.
						   &nbsp;<br>&nbsp;<br>Sipping over some MOCHA and CHAI, I manage my own non-profit organization called Sahera.&nbsp;
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
            <div class="container">
                <div class="row personal-info">
                    <div class="col-xs-12 col-md-6 animated bounceIn" data-animated="bounceIn">
                        <div class="personal-title">
                            <h3>Personal information</h3>
                        </div>
                        <div class="personal-description">
                            <p><strong>About me: </strong>Frontend Engineer, Web Designer, UI Expert</p>
                            <p><strong>Hobbies: </strong>Spoken word, Body art, Paper spray paint art, Photography  </p>
                            <p><strong>Education: </strong>
                                <ul style="list-style-type: none;">
                                    <li>University of California, Davis</li>
                                        <ul> B.A. - Psychology(Pre-Med)</ul>
                                        
                                    <div style="height:20px"></div>
                                    <li>University of New England</li>
                                    <ul>Post-Baccalaureate</ul>
                                        
                                </ul>
                            </p>
                            <p><strong>Skills: </strong> JAVSCRIPT, HTML5, CSS3, REACT/REDUX, MEAN, JQUERY, AND MORE....</p>
                        </div>
                    </div>
                   <div class="col-xs-12 col-md-6 skill-bars animated bounceIn" data-animated="bounceIn">
                        <div class="personal-title">
                            <h3>Programming Skills</h3>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span class="sr-only">90% Complete</span>
                            </div>
                            <span class="progress-type">HTML / HTML5</span>
                            <span class="progress-completed">90%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span class="sr-only">85% Complete (success)</span>
                            </div>
                            <span class="progress-type">UI/UX</span>
                            <span class="progress-completed">85%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                <span class="sr-only">95% Complete (Success)</span>
                            </div>
                            <span class="progress-type">JavaScript / jQuery</span>
                            <span class="progress-completed">95%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span class="sr-only">85% Complete (danger)</span>
                            </div>
                            <span class="progress-type">CSS / CSS3</span>
                            <span class="progress-completed">85%</span>
                        </div>
                    </div>
                </div> 
            </div>
        </div> <!-- ./end about-wrap -->
        
        
        
    </section>
    <!--END ABOUT ME SECTION-->
   
    <!--PORTFOLIO SECTION-->
    <section id="portfolio">
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="h2-spacer">
                        <div class="clearfix"></div>
                        <h2>PORTFOLIO</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-sm-6 animated bounceIn" data-animated="bounceIn">
                         <h3>
                                Geotweet Project <span>Track tweets around the world project</span>
                            </h3>
                            <hr class="h3-spacer"/>
                            <p>An app that uses google's api to track live tweets around the world and map their location on a map.</p>
                            <a href="https://geo-tweet.herokuapp.com/" class="btn btn-project ">
                                <span class="project-link">Check it out!</span>
                            </a>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6 project animated bounceIn" data-animated="bounceIn">
                       <a href="images/portfolio/project1.jpg" data-imagelightbox="b">
                                <div class="img-over">
                                    <div class="project-desc">
                                        <h5>GEOTWEET</h5>
                                    </div>
                                </div>
                                <div>
                                    <iframe 
                                        src="https://geo-tweet.herokuapp.com/" 
                                        name="targetframe" 
                                        allowTransparency="true" 
                                        scrolling="no" 
                                        frameborder="0"
                                        style="width: 100%; height: 100%; position:absolute;">
                                    </iframe>
                                </div>
                            </a>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-a -->
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6 animated bounceIn" data-animated="bounceIn">
                        <h3>Pinpoint<span>Easy and cool place to drop the pin</span></h3>
                        <hr class="h3-spacer">
                            <p> Drop the pin and see where it will take you!</p>
                        <a href="#" class="btn btn-project "><span class="project-link">Check it out now!</span></a>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6 project animated bounceIn" data-animated="bounceIn">
                        <a href="images/portfolio/project2.jpg" data-imagelightbox="b">
                            <div class="img-over" style="opacity: 0;"><div class="project-desc"><h5>Pinpoint</h5></div></div>
                            <img class="center-block img-project img-responsive" src="./images/portfolio/project2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-b -->
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6 animated bounceIn" data-animated="bounceIn">
                        <h3>Fujimo<span>Let's get over you!</span></h3>
                        <hr class="h3-spacer">
                        <p>Forget them and move on! How? Don't worry this app will help! </p>
                        <a href="#" class="btn btn-project "> <span class="project-link">Get Now Free</span></a>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6 project animated bounceIn" data-animated="bounceIn">
                        <a href="images/portfolio/project3.jpg" data-imagelightbox="b">
                            <div class="img-over" style="opacity: 0;"><div class="project-desc"><h5>Fujimo</h5></div></div>
                            <img class="center-block img-project img-responsive" src="./images/portfolio/project3.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
    
    <!--END PORTFOLIO SECTION-->
    </section>
    
  





    </script>


	</body>
         
            
        <!------------ Footer ----------->
           
        <div>
            <%- include partials/footer %>
        </div>

        <!---------- END FOOTER --------->
    
        
        
        
        <%- include partials/scripts %>   
    </body>
</html>    
                    						       