<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
        <link rel = "stylesheet" type="text/css" href= "/stylesheets/pageStyles.css">
        <style>
            .secContainer {
                background: #fff;
                height: 100%;
                width: 100%;
            }
            
            .secImage{
                
            }
        </style>
    </head>
        <div>
            <%- include partials/header %>
        </div>
        
        
         <div class="container">
	    <div style="height:50px;"></div>
	    <h1>A WHOLE PAGE ABOUT ME? WOW!</h1>
            <div style="margin:0 -45px;">
	           <table>
		          <tbody>
			            <tr>
    				        <td style="width:13.318722098844%; padding:0 45px;">
    					        <div style="height:50px;"></div>
                            </td>
    				        <td style="width:33.026223692949%; padding:0 45px;">
                                <div style="padding-top:10px;padding-bottom: 190px;;margin-left:0px;margin-right:0px;text-align:center">
                                    <a><img src="/images/professionalPic.jpg" alt="Picture" style="width:auto;max-width:125%"></a>
                                    <div style="display:block;font-size:90%"></div>
                                </div>
                            </td>				
    				        <td style="width:40.236173935775%; padding:0 45px;">
    				            
    					            <div style="height:50px;"></div>
                                    <h2>I'M A FRONTEND ENGINEER</h2>
                                    <div style="height:10px;"></div>
                                    <div class="paragraph">&#8203;Living in the heart of San Francisco, where, I have now been a frontend developer for 4 years! <br>&#8203;Wow! It has been 4 years already! I enjoy the relief I get when I solve problems,
                                    big problems, small problems, any size the problem may be, I will solve it.<br>&#8203;And when you don't see me solving problems, well then you might see me saving all the dogs in the world, and the rest 
                                    of animal-kind. An when I'm not an animal super hero, you'll find me in some park sipping my mocha, drawing, writing spoken word, and enjoying the breeze!&nbsp;</div>
                                
                                <div style="text-align:left;">
                                    <div style="height: 30px; overflow: hidden;"></div>
                                    <a href="/myworld">
                                        <span>More About Me</span>
                                    </a>
                                    <div style="height: 0px; overflow: hidden;"></div>
                                </div>
                            </td>
                            
    				        <td style="width:13.418880272432%; padding:0 45px;">
    					            <div style="height:50px;"></div>
                            </td>			
			            </tr>
		            </tbody>
	            </table>
            </div>
        </div>
    </div>
    <div style="height:100px;"></div>    
   
    
    
    <body>
    
        
        
        
        <%- include partials/scripts %>   
    </body>
</html>    