<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
        <link rel = "stylesheet" type="text/css" href= "/stylesheets/introduction.css">
    </head>
    
    <body>
        <div>
            <%- include partials/header %>
        </div>
        
        
        
        <div class="main-container">
    <div class="intro_main intro_wrapper clearfix">
      <!-- Header Start -->
      <div id="catchHeader">
	        <div style="height:50px;"></div>
	        <h1>A WHOLE PAGE ABOUT ME? WOW!</h1>
        </div>
        <header id="header">
            <div id="logo" style="display: none;">
                <h2>
                    Saher Wasim
                </h2>
                <h4>
                    Frontend Engineer
                </h4>
            </div>
        </header>
   
            <div id="intro_content">
              <!-- About Tab Data -->
                <div id="intro" class="active" style="display: block;">
                    <section class="clearfix">
                        <div class="intro_content">
                            <div class="secImage">
                                <img src="images/VeniceWall2.jpg" alt="Saher Wasim">
                            </div>
                            <div class="intro_content">
                                <h2>
                                    Saher Wasim
                                </h2>
                                <h4>
                                    Frontend Engineer
                                </h4>
                                <p>
                                   Get to NODE me!&nbsp;<br>
        						   &nbsp;<br>I am a Front-End Developer with 4 years of experience building scalable applications using Javascript and HTML5/CSS3.&nbsp;<br>
        						   I am an active proponent of Javascript ES6 version- I am thrilled by the power of efficient and effective responsiveness in building Javascript code to execute application operations.
        						   &nbsp;<br>&nbsp;<br>Sipping over some MOCHA and CHAI, I manage my own non-profit organization called Sahera.&nbsp;
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>  
              
            
      
        <div style="height:25px;"></div>
    
        
        
        
        <%- include partials/scripts %>   
    </body>
</html>    
                    						   
                    						   
                    						   
                    						   
                    						   
                    						   
        <div id="preloader" style="display: none;">
            <div id="status" style="display: none;"></div>
        </div>
       
        <div>
            <%- include partials/header %>
        </div>
        <section id="page_intro" style="
                    image-rendering: auto;
                    image-rendering: crisp-edges;
                    image-rendering: pixelated;
                    vertical-align: middle;
                    -webkit-font-smoothing: antialiased;
                    height: 459px;
                    max-width:100%;
                    background-image: url(/images/bk1.jpg);
                    background-repeat: no-repeat; 
                    background-size: cover;
                    background-position: 50% 30%;">
              
        <div class="intro_overlay">
                <div class="page_intro-wrap animated bounceIn" data-animated="bounceIn" style ="text-align: center; padding:0 -45px;text-align: right; float: right;">
                    <h1 style="margin-right:300px; font-size:35px; letter-spacing:2.5px; text-transform: uppercase; font-weight: bold; font-family: lato,sans-serif;">Hi I'm Saher Wasim
                        <span>Frontend Engineer</span>
                    </h1>
                    
                    <a href="/contact" class="btn btn-page_intro scroll" style="margin-right:300px;"><span class="">Get to know me</span></a>
                    
                 </div>  
                
                <div id="info"></div>
                
        </div>

    </section>
    
    
<section id="info-me">
        <div class="section-wrap">
            <div class="container">
                <div class="row info">
                    <div class="col-xs-12 col-md-4 animated bounceIn" data-animated="bounceIn" style="text-align:center;">
                    <img src="/images/retro1.jpg" alt=" " class="center-blok img-circle img-thumbnail img-responsive"style="max-width: 115%;" />


                        <div class="img-desc-info">
                            <h2 class="name">
                                Saher Wasim
                                <span>Frontend Engineer</span>
                            </h2>
                            <a href="#"><img src="/images/buttons/button1.png"class="btn social"><i class="fa fa-facebook"></i></a>
                            <a href="#"><img src="/images/buttons/button2.png" class="btn social"><i class="fa fa-twitter"></i></a>
                            <a href="#"><img src="/images/buttons/button3.png" class="btn social"><i class="fa fa-linkedin-square"></i></a>
                            

                        </div>
                    </div>

                    <div class="col-s-10 col-md-8 animated bounceIn intro-text" data-animated="bounceIn">

                        <hr class="h2-spacer">
                        <div class="clearfix"></div>
                        <h2>ABOUT ME</h2>
                        <p>
                           Get to NODE me!&nbsp;<br>
						   &nbsp;<br>I am a Front-End Developer with 4 years of experience building scalable applications using Javascript and HTML5/CSS3.&nbsp;<br>
						   I am an active proponent of Javascript ES6 version- I am thrilled by the power of efficient and effective responsiveness in building Javascript code to execute application operations.
						   &nbsp;<br>&nbsp;<br>Sipping over some MOCHA and CHAI, I manage my own non-profit organization called Sahera.&nbsp;
                        </p>
                        </div>
                </div>
            </div>
            <div class="container">
                <div class="row personal-info_sec">
                    <div class="col-xs-12 col-md-6 animated bounceIn" data-animated="bounceIn">
                        <div class="personal-title">
                            <h3>TOOL BOX</h3>
                        </div>
                        <div class="personal-description">
                            <p><strong>About me: </strong>Frontend Engineer, Web Designer, UI Expert</p>
                            <p><strong>Hobbies: </strong>Spoken word, Body art, Paper spray paint art, Photography  </p>
                            <p><strong>Education: </strong>University of California, Davis: B.A. in Psychology(Pre-Med)</p>
                            <p style="margin-left:70px">University of New England: Post-Baccalaureate</p>
                            <p><strong>Skills: </strong> JAVSCRIPT, HTML5, CSS3, REACT/REDUX, MEAN, JQUERY, AND MORE....</p>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-6 skill-bars animated bounceIn" data-animated="bounceIn">
                        <div class="personal-title">
                            <h3>Programming Skills</h3>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span class="sr-only">90% Complete</span>
                            </div>
                            <span class="progress-type">HTML / HTML5</span>
                            <span class="progress-completed">90%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span class="sr-only">85% Complete (success)</span>
                            </div>
                            <span class="progress-type">UI/UX</span>
                            <span class="progress-completed">85%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                <span class="sr-only">95% Complete (Success)</span>
                            </div>
                            <span class="progress-type">JavaScript / jQuery</span>
                            <span class="progress-completed">95%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span class="sr-only">85% Complete (danger)</span>
                            </div>
                            <span class="progress-type">CSS / CSS3</span>
                            <span class="progress-completed">85%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ./end info-wrap -->
        <!--
        <div class="intro_overlay">
            <div class="statistic">
                <div class="container">
                    <div class="row counter" style="text-align:center;">
                        <div class="col-xs-12 col-sm-3  box" style="text-align:center;">
                            <i class="fa fa-clock-o"></i><h3 class="stat-count">2500</h3>
                            <p>developed hours</p>
                        </div>
                        <div class="col-xs-12 col-sm-3  box" style="text-align:center;">
                            <i class="fa fa-code-fork"></i><h3 class="stat-count">5</h3>
                            <p>finished projects</p>
                        </div>
                        <div class="col-xs-12 col-sm-3  box" style="text-align:center;">
                            <i class="fa fa-coffee"></i><h3 class="stat-count">120</h3>
                            <p>cups of coffies</p>
                        </div>
                        <div class="col-xs-12 col-sm-3  box" style="text-align:center;">
                            <span><i class="fa fa-thumbs-o-up"></i></span><h3 class="stat-count">180</h3>
                            <p>satisfied customers</p>
                        </div>
                    </div>
                </div>
            </div><!--end container--><!--
        </div>
    </section> 
    <!--END ABOUT ME SECTION-->
    
        <!-- SERVICES SECTION--><!--
        <section id="services" class="">
            <div class="services">
                <div class="container">
                    <div class="row" style="text-align:center;">
                        <div class="col-xs-12 text-left">
                            <hr class="h2-spacer"/>
                            <div class="clearfix"></div>
                            <h2>SERVICES</h2>
                        </div>
                        <article class="col-md-3">
                            <div class="service-box" data-animated="fadeInUp">
                                <div class="icon-box">
                                    <i class="fa fa-css3"></i>
                                </div>
                                <div class="description-box">
                                    <h4>HTML5/CSS3 Coding</h4>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3">
                            <div class="service-box" data-animated="fadeInUp">
                                <div class="icon-box">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <div class="description-box">
                                    <h4>UI/UX Design</h4>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3">
                            <div class="service-box" data-animated="fadeInUp">
                                <div class="icon-box">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="description-box">
                                    <h4>Clean And Fast Code </h4>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-3">
                            <div class="service-box" data-animated="fadeInUp">
                                <div class="icon-box">
                                    <i class="fa fa-support"></i>
                                </div>
                                <div class="description-box">
                                    <h4>Full Stack Support</h4>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!--END SERVICES SECTION-->
        <!--PORTFOLIO SECTION-->
        <section id="portfolio">
            <div class="content-section-a">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <hr class="h2-spacer"/>
                            <div class="clearfix"></div>
                            <h2>PORTFOLIO</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-sm-6" data-animated="bounceIn">
                            <h3>
                                Geotweet Project <span>Track tweets around the world project</span>
                            </h3>
                            <hr class="h3-spacer"/>
                            <p>An app that uses google's api to track live tweets around the world and map their location on a map.</p>
                            <a href="https://geo-tweet.herokuapp.com/" class="btn btn-project ">
                                <span class="project-link">Check it out!</span>
                            </a>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6 project" data-animated="bounceIn">
                            <a href="images/portfolio/project1.jpg" data-imagelightbox="b">
                                <div class="img-over">
                                    <div class="project-desc">
                                        <h5>GEOTWEET</h5>
                                    </div>
                                </div>
                                <div>
                                    <iframe 
                                        src="https://geo-tweet.herokuapp.com/" 
                                        name="targetframe" 
                                        allowTransparency="true" 
                                        scrolling="no" 
                                        frameborder="0"
                                        style="width: 100%; height: 100%; position:absolute;">
                                    </iframe>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.content-section-a -->
            
        </section>
        <!--END PORTFOLIO SECTION-->
        <div style="height: 30px; overflow: hidden;"></div>    
         
         