<span>
<link rel = "stylesheet" type="text/css" href= "/stylesheets/myBlog.css">

<!--CONTAINER-->
    <div id="topBlogPicture">
    	<section id="content-section-1">
    		<div class="my_blog-wrapper" style="padding-top: 0px; padding-bottom: 30px; ">
    			<div class="container">
    				<div class="my_blog-master-slider-item my_blog-slider-item my_blog-item">
    					<!-- MasterSlider -->
    					<div class="master-slider-parent ms-parent-id-5" id="P_MS53d5cadc7a9d0" style="position: relative;">
    						<!-- MasterSlider Main -->
    						<div class="master-slider ms-skin-default" id="MS53d5cadc7a9d0" style="visibility: visible; margin: 0px 0px 0px -4px; opacity: 1; width: 1148px;">
    							<div class="ms-container">
    								<div class="ms-inner-controls-cont">
    									<div class="ms-view ms-basic-view" style="width: 1148px; height: 500px;">
    										<div class="ms-slide-container" style="transform: translateX(-1148px) translateZ(0px);">
    											<div class="ms-slide" data-delay="6" data-fill-mode="fill" style="left: 0px; width: 1148px; height: 500px;">
    
    												<div class="ms-slide-bgcont" style="height: 100%; opacity: 1;"><img alt="slider img" src="images/alwaysbkgp.jpg" title="" style="width: 1148px; height: 764.855px; margin-top: -132px; margin-left: 0px;"></div>
    											</div>
    											<div class="ms-slide ms-sl-selected" data-delay="6" data-fill-mode="fill" style="left: 1148px; width: 1148px; height: 500px;">
    
    												<div class="ms-slide-bgcont" style="height: 100%; opacity: 1;"><img alt="slider img" src="images/alwaysbkgp.jpg"  title="" style="width: 1148px; height: 766.29px; margin-top: -133px; margin-left: 0px;"></div>
    											</div>
    											<div class="ms-slide" data-delay="6" data-fill-mode="fill" style="left: 2296px; width: 1148px; height: 500px;">
    
    												<div class="ms-slide-bgcont" style="height: 100%; opacity: 1;"><img alt="slider img" src="images/alwaysbkgp.jpg" title="" style="width: 1148px; height: 717.5px; margin-top: -109px; margin-left: 0px;"></div>
    											</div>
    										</div>
    									</div>
    									<div class="ms-nav-next ms-ctrl-hide" style="opacity: 0;"></div>
    									<div class="ms-nav-prev ms-ctrl-hide" style="opacity: 0;"></div>
    									<div class="ms-ctimer"><canvas class="ms-ctimer-canvas" width="22" height="22"></canvas>
    										<div class="ms-ctimer-bullet"></div>
    									</div>
    								</div>
    							</div>
    
    
    
    							<div class="ms-timerbar" style="height: 4px; top: auto; bottom: 0px;">
    								<div class="ms-time-bar" style="height: 4px; background-color: rgb(239, 239, 239); width: 28.3333%;"></div>
    							</div>
    						</div>
    						<!-- END MasterSlider Main -->
    					</div>
    					<!-- END MasterSlider -->
    					<script>
    						(function($) {
    							"use strict";
    
    							$(function() {
    								var masterslider_a9d0 = new MasterSlider();
    
    								// slider controls
    								masterslider_a9d0.control('arrows', { autohide: true, overVideo: true });
    								masterslider_a9d0.control('circletimer', { autohide: false, overVideo: true, color: '#fff', radius: 10, stroke: 2 });
    								masterslider_a9d0.control('timebar', { autohide: false, overVideo: true, align: 'bottom', color: '#efefef', width: 4 });
    								// slider setup
    								masterslider_a9d0.setup("MS53d5cadc7a9d0", {
    									width: 1140,
    									height: 500,
    									space: 0,
    									start: 1,
    									grabCursor: false,
    									swipe: true,
    									mouse: false,
    									layout: "fullwidth",
    									wheel: false,
    									autoplay: true,
    									instantStartLayers: false,
    									loop: true,
    									shuffle: false,
    									preload: 2,
    									heightLimit: true,
    									autoHeight: false,
    									smoothHeight: true,
    									endPause: false,
    									overPause: true,
    									fillMode: "fill",
    									centerControls: false,
    									layersMode: "center",
    									hideLayers: false,
    									fullscreenMargin: 0,
    									speed: 20,
    									dir: "h",
    									parallaxMode: 'swipe',
    									view: "basic"
    								});
    
    
    								$("head").append("<link href='http://fonts.googleapis.com/css?family=Arvo:regular|Merriweather:700' id='ms-fonts' media='all' rel='stylesheet' type='text/css'/>");
    
    								window.masterslider_instances = window.masterslider_instances || {};
    								window.masterslider_instances["5_a9d0"] = masterslider_a9d0;
    							});
    
    						})(jQuery);
    					</script>
    				</div>
    				<div class="clear"></div>
    			</div>
    		</div>
    		<div class="clear"></div>
    	</section>
    </div>
			    
    			    
    			    
    			    
    			    
    			    
    			    
    			    
</span>