<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type="text/css" href= "/stylesheets/pageStyles.css">
    </head>    
<div>
    <h2>Geo Tweet App </h2>
    <iframe 
        src="https://geo-tweet.herokuapp.com/" 
        name="targetframe" 
        allowTransparency="true" 
        scrolling="no" 
        frameborder="0" >
    </iframe>
</div>  

<% for (var i = 0; i < projects.length; i++) { %>
            <% var projectNumber = i + 1; %>
                <div>
        	  		<a href="/myprojects/<%= projectNumber - 1 %>">
        			  	<div>
        			  		<h3><%= projects[i].title %></h3>
                           <div>
                <h3><%= projects[i].title %></h3>
                <h2><%= year%></h2>
                <div>
                    
                    
                    
                    
                    
                    </div>  
            </div>
            
            
            	</div>
        		  	</a>
        		</div>	  
	        <% } %>