<!DOCTYPE html>
<html>
    <head>
        <%- include partials/head %>
        <link rel = "stylesheet" type="text/css" href= "/stylesheets/pageStyles.css">
    </head>
            

    <body class="bg-fixed bg-1">
        
<div class="page-main-container">
    <div class="page-main wrapper clearfix">
        
        
        
        
        
        
        
        
    </div>
</div>
    </body>        
        
</html>        