.backroundimg{
    vertical-align: middle;
    height: 579px;
    background-image: url(/images/103844.jpg);
    background-repeat: no-repeat;
    background-position: 50.00% 0.00%;
    background-size: 100%;
    background-color: transparent;

}

#page_content {
    position: relative;
    overflow: hidden;
    margin-left: 0;
    min-height: 100vh;
    font-size: 16px;
}
.page_section {
    background-color: white;
    padding: 80px 0;
    line-height: 1.45;
    color: #fff;
}

.bkg_overlay {
    position: relative;
}


.bkg_overlay::before {
    content: '';
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*
.backbackimpression {
    text-align: center;
    margin: auto;
    margin-bottom: 85px;
    display: table;
    table-layout: fixed;
}

/*
.backimpression .left img {
    display: inline-block;
    zoom: 1;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px solid #fff;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    overflow: hidden;

}
*/

/* OXYNEW */

.page_onyxnew_pic {
    display: inline-block;
    zoom: 1;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 3px solid #fff;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    overflow: hidden;
}

.proimage {
    height: 100%;
    display: flex;
    align-items:center;
    vertical-align: middle;
    min-height: 1px;
}

.proimage img {
    border-radius: 160px;
    width: 160px;
}







/* Image imgcontainer */

@media only screen and (min-width: 1000px) and (max-width:1299px) {
    .imgcontainer {
        position:relative;
        width: 944px;
        margin: 0 auto;
        padding: 0
    }

    .imgcontainer .columns {
        float: left;
        display: inline;
        margin-left: 13px;
        margin-right: 13px
    }

    .row {
        margin-bottom: 20px
    }

    .imgcontainer .sixteen.columns {
        width: 918px
    }
}

@media only screen and (min-width: 876px) and (max-width:999px) {
    .imgcontainer {
        position:relative;
        width: 832px;
        margin: 0 auto;
        padding: 0
    }

    .imgcontainer .columns {
        float: left;
        display: inline;
        margin-left: 12px;
        margin-right: 12px
    }

    .row {
        margin-bottom: 20px
    }

    .imgcontainer .sixteen.columns {
        width: 808px
    }
}

@media only screen and (min-width: 728px) and (max-width:875px) {
    .imgcontainer {
        position:relative;
        width: 656px;
        margin: 0 auto;
        padding: 0
    }

    .imgcontainer .columns {
        float: left;
        display: inline;
        margin-left: 9px;
        margin-right: 9px
    }

    .row {
        margin-bottom: 20px
    }

    .imgcontainer .sixteen.columns {
        width: 638px
    }
}

@media only screen and (min-width: 490px) and (max-width:727px) {
    .imgcontainer {
        position:relative;
        width: 456px;
        padding: 0;
        margin: 0 auto
    }

    .imgcontainer .columns,.imgcontainer .sixteen.columns {
        width: 440px;
        margin-left: 8px;
        margin-right: 8px
    }

    .imgcontainer .row {
        margin-bottom: 20px
    }
}

@media only screen and (min-width: 430px) and (max-width:489px) {
    .imgcontainer {
        position:relative;
        width: 396px;
        padding: 0;
        margin: 0 auto
    }

    .imgcontainer .columns,.imgcontainer .sixteen.columns {
        width: 380px;
        margin-left: 8px;
        margin-right: 8px
    }

    .imgcontainer .row {
        margin-bottom: 20px
    }
}

@media only screen and (min-width: 370px) and (max-width:429px) {
    .imgcontainer {
        position:relative;
        width: 336px;
        padding: 0;
        margin: 0 auto
    }

    .imgcontainer .columns,.imgcontainer .sixteen.columns {
        width: 320px;
        margin-left: 8px;
        margin-right: 8px
    }

    .imgcontainer .row {
        margin-bottom: 20px
    }
}

@media only screen and (min-width: 350px) and (max-width:369px) {
    .imgcontainer {
        position:relative;
        width: 316px;
        padding: 0;
        margin: 0 auto
    }

    .imgcontainer .columns,.imgcontainer .sixteen.columns {
        width: 300px;
        margin-left: 8px;
        margin-right: 8px
    }

    .imgcontainer .row {
        margin-bottom: 20px
    }
}

@media only screen and (max-width: 349px) {
    .imgcontainer {
        position:relative;
        width: 296px;
        padding: 0;
        margin: 0 auto
    }

    .imgcontainer .columns,.imgcontainer .sixteen.columns {
        width: 280px;
        margin-left: 8px;
        margin-right: 8px
    }

    .imgcontainer .row {
        margin-bottom: 20px
    }
}

.imgcontainer:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}







/* Buttons */

.learnbtn {
    background: transparent;
    font-size: 20px;
    color: #ffffff !important;
    border: 1px solid #ffffff;
    padding: 10px;
    line-height: 13;
}

