/*Page tags*/

body{
   
   font-family: 'Concert One', cursive;
   color:white;
   line-height: 1;
   font-size: calc(1.4vw + 1vh);   
}

h1{
   padding:0;
   margin-top:0px;
   font-size:1.0em;
}

#headerTop{
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 10000;
    transition: all .3s ease-in-out;
}

.nameHeader{
  color: white;
  text-shadow: 2px 2px 2px;   
}

/*Nav */
nav{
   font-family: 'Concert One',cursive;
   font-size:17px;
}


/*Page One*/
#pageOne{
   margin-top:100px;
   height:100%;
}
#pageOne .wrapper{
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-radius: 2px;
   font-weight: 100;
   padding: 1em;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%); 
}
#pageOne .home{
   text-decoration: none;
   text-align: center;
   letter-spacing: 7px;
   position: relative;
   transition: all .1s ease-in-out;
}


/*Page Two*/
#pageTwo{
    width: 100%;
}


#pageTwo .wrapper{
   background-color:rgba(192,192,192,0.6);
   position: relative;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-radius: 2px;
   font-weight: 100;
}

/*Page Three*/
#pageThree{
   position: relative;
   padding-top: 20px;
}

#pageThree .wrapper{
   background-color:rgba(175,175,175,0.5);
   position: relative;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-radius: 2px;
   font-weight: 100;
}


/******LATEST PROJECTS*****/
#rightApp{
   float: right; 
   width:25%;
}

#leftApp{
   float: left; 
   width:25%;;
}
#centerApp {
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0%); 
   width:25%;
}

/* Buttons */
.btn{
   cursor: pointer;
}
.btn:hover {
    opacity: 0.6;
}
.btn-list .btn{
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
}

#pageTwo .btn{
   border:3px solid #E0CB77;
   color: #fff;
   background-color:grey;
   
}

/******Styling********/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.center { 
    height: 100%;
    position: relative;
}

.center section {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



/******** SMALL SCREEN*********/
