
{
    background:rgba(0,0,0,1)
    
}
.cm-s-mytheme.CodeMirror{color:rgba(255,184,191,1)}
.cm-s-mytheme div.CodeMirror-selected{background:rgba(255,184,191,1) !important;}
.cm-s-mytheme .CodeMirror-gutters{background:rgba(67,185,195,1) !important;}
.cm-s-mytheme .CodeMirror-guttermarker{color:rgba(101,255,193,1) !important;}
.cm-s-mytheme .CodeMirror-guttermarker-subtle{color:rgba(255,255,255,1) !important;}
.cm-s-mytheme .CodeMirror-linenumber{color:rgba(255,255,255,1) !important;}
.cm-s-mytheme .CodeMirror-cursor{border-color:rgba(0,255,0,1) !important;}
.cm-s-mytheme span.cm-comment{color:rgba(204,204,204,1) !important;}
.cm-s-mytheme span.cm-atom{color:rgba(8,229,255,1) !important;}
.cm-s-mytheme span.cm-number{color:rgba(255,185,79,1) !important;}
.cm-s-mytheme span.cm-property{color:rgba(98,255,160,1) !important;}
.cm-s-mytheme span.cm-attribute{color:rgba(255,247,0,1) !important;}
.cm-s-mytheme span.cm-keyword{color:rgba(255,184,191,1) !important;}
.cm-s-mytheme span.cm-string{color:rgba(83,233,245,1) !important;}
.cm-s-mytheme span.cm-string-2{color:rgba(96,255,186,1) !important;}
.cm-s-mytheme span.cm-variable{color:rgba(39,255,204,1) !important;}
.cm-s-mytheme span.cm-variable-2{color:rgba(52,229,255,1) !important;}
.cm-s-mytheme span.cm-def{color:rgba(96,243,255,1) !important;}
.cm-s-mytheme span.cm-bracket{color:rgba(204,204,119,1) !important;}
.cm-s-mytheme span.cm-tag{color:rgba(255,189,64,1) !important;}
.cm-s-mytheme span.cm-link{color:rgba(0,255,0,1) !important;}
.cm-s-mytheme span.cm-error{background:rgba(0,0,0,0) !important;}
.cm-s-mytheme span.cm-error{color:rgba(255,0,0,1) !important;}
.cm-s-mytheme .CodeMirror-activeline-background{color:rgba(0,255,0,1) !important;}
.cm-s-mytheme .CodeMirror-matchingbracket{color:rgba(0,255,0,1) !important;}